
uname
{
	color:black;
	font-family:copperplate Gothoic Light;
	font-size:16 pt;
	font bold;
}
city
{
	color:green;
	font-family:Arial;
	font-size:12pt;
	font:bold;
}
rank
{
	color:green;
	font-family:Arial;
	font-size:16pt;
	font:bold;
}
	
